body {
    font-size: 16px;
    background-color: aquamarine;
    font-family: 'Oxygen', sans-serif;
  }
  
  .navbar-brand { 
      font-family: 'Lora', sans-serif;
      color:black;
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 1.5em;
      margin-bottom: 0;
      line-height: .75;
  }
  
  h1 { 
      font-family: 'Lora', sans-serif;
      color:#006080;
      /*font-size: 1.8em;*/
      font-weight: bold;
      margin-top: 50px;
      line-height: .85;
  }
  
  h3 { 
      font-family: 'Lora', sans-serif;
      /*font-size: 1.3em;*/
      font-weight: bold;
  }
  
  
  
  /** ============= HEADER ===================== **/
  #navbar {
    background-color: rgba(119, 115, 115, 0.92);
    
}

#header {
    border-bottom: 2px solid black;
}

.navbar-nav a {
    border-top: 2px solid black;
    color: black;
    
}

.collapse.navbar-collapse {
    background-color: white;
    
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}


.navbar.navbar-expand-md {
    padding-bottom: 0;
}


  /** ============= Main content ===================== **/
  
  #main-content a {
      text-decoration: none;
  }
  
  .sectiontxt h3 {
      padding: 5px 0px 15px 0px ;
      margin: 10px 0px 0px 0px ;
  }
  
  div.sectiontxt{
      margin: 10px;
      background: #006080;
      color: #e6f9ff;
      padding: 15px;
  }
  
  .sectiontxt a {
      color: #ffcc00;
  }
  
  .sectiontxt a:hover {
      color: #ff9900;
  }
  
  /** #################################################################### **/
  /** ============= Media queries ===================== **/
  
  /********** Large devices only **********/
  @media (min-width: 1200px) {
  .navbar-brand h1 {font-size: 2em;}
  h2 { font-size: 1.8em; }
  h3 { font-size: 1.5em; }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 992px) and (max-width: 1199px) { 
  .navbar-brand h1 {font-size: 1.8em;}
  h2 { font-size: 1.5em; }
  h3 { font-size: 1.3em; }
  }
  
  /********** Small devices only **********/
  @media (min-width: 768px) and (max-width: 991px) { 
  .navbar-brand h1 {font-size: 1.5em;}
  h2 { font-size: 1.3em; }
  h3 { font-size: 1.1em; }
  }
  
  /********** Extra small devices only **********/
  @media (max-width: 767px) { 
  .navbar-brand h1 {font-size: 1.5em;} 
  h2 { font-size: 1.3em; }
  h3 { font-size: 1.1em; }
  }